<% include('../../public/main.css') %>

<nav>
  <h2>
    <a href="/">Jenga Project Management</a>
  </h2>
  <ul>
    <% if(isAuth && rights=='admin') { %>
    <li><a href="/new-project">New Project</a></li>

    <% } %> <% if(isAuth) { %>
    <li><a href="/teamleads">Team Leads</a></li>
    <li><a href="/students">Students</a></li>

    <li><a href="/profile">Profile</a></li>

    <form action="/logout" method="get">
      <button type="submit" value="logout" style="cursor: pointer">
        Logout
      </button>
    </form>
    <%} else {%>
    <li><a href="/auth/login">Login</a></li>
    <li><a href="/auth/signup">Register</a></li>
    <%}%>
  </ul>
</nav>
