<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Program</title>
    <link rel="stylesheet" href="../main.css" />
  </head>
  <body>
    <header>
      <%- include("./partials/_header", {isAuth: isAuth, rights: rights}) %>
    </header>

    <main class="new-project-main">
      <h1>Create a new Program</h1>

      <form action="/admin/<%= title %>/new-program" method="post">
        <label for="program">Program Title: </label>
        <input type="text" name="program" id="program" />

        <button type="submit">Save</button>
      </form>
    </main>
  </body>
</html>
