<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../main.css" />
    
  </head>
  <body>
    <header><%- include("./partials/_header", {isAuth:isAuth}) %></header>

    <main class="login-main">
      <h1>Login</h1>

      <form action="/auth/login" method="post" class="login-form">
        
        <label for="email">Email </label
        ><input type="email" name="email" id="email" />
        <label for="password">Password</label
        ><input type="password" name="password" id="password" />
        <button type="submit">Login</button>

        <p>
          Don't have an account?
          <span><a href="/auth/signup">Register here</a></span>
        </p>
      </form>

     
    </main>
  </body>
</html>
