<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Task</title>
    <link rel="stylesheet" href="/main.css" />

    <style>
      .uploading-progress-div {
        display: none;
      }
    </style>
  </head>
  <body>
    <header>
      <%- include("./partials/_header", {isAuth: isAuth, rights: rights}) %>
    </header>

    <main class="new-project-main">
      <h1>Create a new Task</h1>

      <div class="uploading-progress-div" style="color: green"></div>

      <div class="new-program-form">
        <input type="hidden" name="title" value="<%= title %>" id="title" />
        <label for="name">Task Title: </label>
        <input type="text" name="name" id="name" />
        <label for="desc">Task Description: </label>
        <input type="text" name="desc" id="desc" />
        <input type="file" ref="files" name="files" id="files" />

        <button id="send">Save</button>
      </div>
    </main>

    <script src="/upload_file.js"></script>
  </body>
</html>
